@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");

:root {
  --Pink: hsl(0, 36%, 70%);
  --Red: hsl(0, 93%, 68%);
  --Gray: hsl(0, 6%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Josefin Sans", sans-serif; /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=fff5f5&gt=l&gd=dbb
*/
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=fff5f5&gt=l&gd=dbb
*/
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 245, 245, 1)
  );
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  margin: 10px 30px;
  padding: 15px;
  max-width: 100px;
}
main {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  margin-top: 40px;
  gap: 50px;
}

.main-title {
  font-size: 80px;
}

.text-container {
  display: flex;
  padding: 30px 30px;
  flex-direction: column;
  max-width: 600px;
  margin-top: 50px;
}

.img-container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/hero-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 600;
  color: var(--Gray);
  letter-spacing: 20px;
}

h1 span {
  font-weight: 300;
  color: var(--Pink);
}
.description {
  font-size: 16px;
  color: var(--Pink);
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.email {
  display: inline-block;
  position: relative;
}

.email-input {
  font-size: 100%;
  padding: 20px 20px;
  outline: none;
  border: 1px solid var(--Pink);
  background-color: transparent;
  border-radius: 30px;
  width: 100%;
}

.email-error {
  display: none;
  color: var(--Red);
  text-align: left;
  padding: 10px;
}

.icon-error {
  position: absolute;
  top: 16%;
  right: 22%;
  width: 30px;
  transition: 0.3s ease;
  display: none;
}

.email-input::placeholder {
  color: var(--Pink);
  font-family: "Josefin Sans", sans-serif;
}

.email button[type="submit"] {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=f8bfbf&c2=ee8c8c&gt=l&gd=dtl
*/
  background: #f8bfbf;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 18px 20px;
  width: 20%;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.email button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}

footer {
  position: fixed;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1200px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    padding-left: 0;
    margin: 0;
    gap: 5px;
    margin-top: 30px;
  }

  nav {
    order: -1;
  }

  .main-title {
    font-size: 50px;
  }

  .text-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-top: 5px;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    text-align: center;
    order: 1;
  }

  .img-container {
    display: block;
    position: static;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 300px;
    background-image: url("./images/hero-mobile.jpg");
    order: 0;
  }

  .email {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .email-input {
    padding: 20px 20px;
    outline: none;
    border: 1px solid var(--Pink);
    background-color: transparent;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
  }

  .icon-error {
    right: 26%;
  }

  .email-input::placeholder {
    color: var(--Pink);
    font-family: "Josefin Sans", sans-serif;
  }

  .email button[type="submit"] {
    width: 25%;
  }
}
